<%- model_class = Message.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Posted By</th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td>Awesome User</td>
        <td><%= message.body %></td>
        <td><%=l message.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p />
<%= form_for Message.new, do |f| %>
  <%= f.text_field :body %>
  <%= f.submit "Send" %>
<% end %>